<div class="list-group">
    <h1>Channels</h1>
    {% for channel in channels %}
        {% if channel.slug == selected_channel %}
            <a class="list-group-item list-group-item-action active"
               href="{% url 'contents_by_chanel' channel.slug %}">{{ channel.name|title }}</a>
        {% else %}
            <a class="list-group-item list-group-item-action"
               href="{% url 'contents_by_chanel' channel.slug %}">{{ channel.name|title }}</a>
        {% endif %}
    {% endfor %}
</div>
